/* Define variáveis de cores para reutilização */
.productspage {
    --light: white;
    --dark: black;
    --text: #11091e;
    --fundo: #f4f1fb;
    --grey: grey;
    --first: #0d0211ff;
    --second:  #f4f1fb;
    --third: #98c1d9ff;
    --forth: #a61c3cff;
    --fifth: #475841ff;
    --sixth: #65429c;
    --seventh: #9e4784;
    --eigth: #37306b;
    --ninth: rgba(3, 0, 61, 1);
    --tenth: rgba(50, 0, 57, 1);
    --eleventh: #fdbeff;
    --twelfth: rgb(12, 6, 117);
    --thirteenth: rgb(65, 11, 115);
}

/* Estilos para a página de produtos */
.productspage {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--light);
    height: 100%;
    width: 100%;
    background: var(--second);
}

/* Estilos para o wrapper dos cards de produto */
.wrapper {
    margin: 2rem;
    display: grid;
    gap: 1.2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 10rem));
    justify-content: center;
    transition: all 0.5s ease;
}

/* Estilos para telas menores que 800px */
@media screen and (max-width: 800px) {
    .wrapper {
        grid-template-columns: repeat(4, minmax(10rem, 1fr));
    }
}

/* Estilos para telas menores que 660px */
@media screen and (max-width: 660px) {
    .wrapper {
        grid-template-columns: 1fr;
    }
}
