.card {
    border: 1px solid var(--second);
    border-radius: 8px;
    overflow: hidden;
    background: var(--first);
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    max-width: 300px;
    margin: 16px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.card_img_container {
    width: 100%;
    overflow: hidden;
}

.card_img {
    width: 100%;
    height: auto;
    transition: transform 0.3s ease;
}

.card_body {
    text-align: center;
    padding: 16px;
}

.card_name {
    font-size: 1.5em;
    margin-bottom: 8px;
}

.card_category, 
.card_amount, 
.card_price, 
.card_status {
    font-size: 1em;
    margin-bottom: 4px;
}

.card_btn {
    margin-top: 16px;
}

.card_btn2 {
    background-color: var(--fifth);
    color: var(--ligth);
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 0.5s ease-in-out;
}

.card_btn2_disabled {
    background-color: var(--fifth);
    color: #aaa;
    border: none;
    padding: 10px;
    border-radius: 5px;
    cursor: not-allowed;
    transition: transform 0.5s ease-in-out;
}

.card_paragraph {
    font-size: 1em;
    color: #666;
}

.card_img:hover {
    transform: scale(1.1);
}

.card_btn2:hover {
    transform: scale(1.1);
}

.card:hover {
    transform: scale(1.1);
}
