/* Estilos gerais da barra de navegação */
.navbar {
  height: 60px;
  background: var(--first);
  z-index: 1000;
  display: flex;
  align-items: center;
  padding: 0 1rem;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  transition: box-shadow 0.3s ease;
}

/* Estilos para a barra de navegação em modo escuro */
.navbar.darkMode {
  background: #333;
}

/* Estilos para o conteúdo da barra de navegação */
.navbar_nav {
  display: flex;
  max-width: 100%;
  height: 100%;
  justify-content: space-between;
  width: 100%;
}

/* Estilos para os links de navegação */
.nav_links {
  display: flex;
  justify-content: flex-end;
}

/* Estilos para o logotipo */
.logo {
  height: 50px;
  cursor: pointer;
  transition: transform 0.3s ease;
}

/* Estilos para os itens de navegação */
.nav_item {
  height: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 15px;
  position: relative;
}

/* Estilos para os links nos itens de navegação */
.nav_item > a {
  display: block;
  font-size: 18px;
  color: var(--light);
  padding: 10px 15px;
  text-decoration: none;
  transition: color 0.3s ease;
  position: relative;
}

/* Estilos para o efeito de sublinhado nos links */
.nav_item > a::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: var(--light);
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transform-origin: bottom right;
  transition: transform 0.3s ease;
}

/* Efeito de sublinhado ao passar o mouse */
.nav_item > a:hover::after {
  transform: scaleX(1);
  transform-origin: bottom left;
}

/* Estilos para o logotipo ao passar o mouse */
.logo:hover {
  transform: scale(1.1);
}

/* Estilos para o botão de modo escuro */
.darkModeButton {
  color: #fff;
  background-color: #333;
  padding: 8px 12px;
  border-radius: 4px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

/* Estilos para o botão de modo escuro ao passar o mouse */
.darkModeButton:hover {
  background-color: #555;
}

/* Responsividade */
@media (max-width: 800px) {
  .navbar_nav {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .logo{
    position: inherit;
  }

  .navbar{
    height: max-content;
  }

  .nav_links {
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .nav_item {
    margin: 5px 0;
  }

  .nav_item > a {
    font-size: 16px;
    padding: 8px 12px;
  }

  .logo {
    margin-bottom: 10px;
  }
}
