/* Estilos para o modo claro */
.DarkMode.light {
    --background-color: #ffffff;
    --text-color: #000000;
  }
  
  /* Estilos para o modo escuro */
  .DarkMode.dark {
    --background-color: #000000;
    --text-color: #ffffff;
  }
  
  /* Aplicar as variáveis CSS */
  .DarkMode {
    background-color: var(--background-color);
    color: var(--text-color);
  }
  
  /* Outros estilos */
  